:root {
  --bg: #1B1B1D;
  --darkbg: #E0E8ED;
  --accent: #2a751e;
  --light: #E0E8ED;
  /*#1B1B1D*/
  /*#131315*/
}

.title__page{
  margin-top: 10vh;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--darkbg);
  z-index: -1;
}

.about__page{
  background: var(--bg);
  min-height: 80vh;
}

.projects__page{
  min-height: 80vh;
  background: var(--darkbg);
}

.contact__page{
  background: var(--bg);
  min-height: 90vh;
}

.header{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  border-bottom: 0.5rem solid var(--accent);

  position: fixed;
  top: 0;
  z-index: 1000;
}

.header * {
  padding-left: 2vw;
  padding-right: 2vw;
}

.logo__header{
  font-weight: bolder;
}

.page__title{
  display: inline-block;
  border-bottom: var(--accent) 6px solid;
  align-self: center;
  margin-top: 3vh;
}

p{
  margin-block-start: 0;
  margin-block-end: 0.2em;
}

.text{
  font-size: 1rem;
  font-weight: lighter;
}

.black{
  color: var(--bg);
}

.subtitle{
  font-size: 2.25rem;
  font-weight: normal;
}

.title{
  font-size: 4em;
  font-weight: bold;
}

.subtitle__title{
  margin-top: -2vh;
  text-align: right;
  padding-bottom: 10px;
}

.title__container{
  float: right;
  background: var(--darkbg);
  z-index: 1;
}

.square{
  border: 0.5rem solid var(--accent);
  width: 14.5vw;
  height: 14.5vw;
  position: absolute;
  z-index: 0;
  left: 30vw;
}

.scrollDiv{
  height: 10vh;
  background: var(--accent);
}

.about__page{
  display: flex;
  flex-direction: column;
}

.about__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
}

.projects__page{
  display: flex;
  flex-direction: column;
}

.contact__page{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawing{
  height: 600px;
  width: 50%;
  margin-right: 6vw;
}

.quint{
  height: 300px;
  width: 640px;
  margin-left: 5vw;
}

img{
  overflow: hidden;
  object-fit: cover;
}

button {
  border-width: 0;
  background-color: var(--bg);
  cursor: pointer;
}


